* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 80px;
}

.card {
    background: white;
    width: 220px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}
